<footer>
    <p>DECENTO - CVR 35605339 - Aarhus C - <a href="tel:+4528912328" title="Ring op!">+45 2891 2328</a> - <a href="mailto:info@decento.dk?Subject=Info">info@decento.dk</a></p>
       
    <div class="centering">
        <div class="icon-container">
            <a href="https://www.facebook.com/decentodk" target="_blank"><img src="/images/SoMe icons/facebook.png" title="Facebook" alt="Facebook" class="icon"></a>
        </div>

        <div class="icon-container">
            <a href="https://www.youtube.com/channel/UCn9szQNCUwbYcx_Z12IxIKA" target="_blank"><img src="/images/SoMe icons/youtube.png" title="YouTube" alt="YouTube" class="icon"></a>
        </div>

        <div class="icon-container">
            <a href="https://www.instagram.com/decentodk/" target="_blank"><img src="/images/SoMe icons/instagram.png" title="Instagram" alt="Instagram" class="icon"></a>
        </div>

        <div class="icon-container">
            <a href="https://www.linkedin.com/company/decento" target="_blank"><img src="/images/SoMe icons/linkedin.png" title="LinkedIn" alt="LinkedIn" class="icon"></a>
        </div>

        <div class="icon-container">
            <a href="mailto:info@decento.dk?Subject=Info" target="_top"><img src="/images/SoMe icons/email.png" title="Email" alt="Email" class="icon"></a>
        </div>
    </div>

</footer>