<div class="bottom-space">
</div>
<footer>
    <p>DECENTO - CVR 35605339 - Aarhus C - <a href="tel:+4528912328" title="Ring op!">+45 2891 2328</a> - <a href="mailto:info@decento.dk?Subject=Info">info@decento.dk</a></p>
    
    <div class="centering">
        <div class="icon-container" onclick="window.open('https://www.facebook.com/decentodk');" title="Facebook">
            <img src="/images/SoMe icons/facebook.png" alt="Facebook" class="icon">
        </div>

        <div class="icon-container" onclick="window.open('https://www.youtube.com/channel/UCn9szQNCUwbYcx_Z12IxIKA');" title="YouTube">
            <img src="/images/SoMe icons/youtube.png" alt="YouTube" class="icon">
        </div>

        <div class="icon-container" onclick="window.open('https://www.instagram.com/decentodk/');" title="Instagram">
            <img src="/images/SoMe icons/instagram.png" alt="Instagram" class="icon">
        </div>

        <div class="icon-container" onclick="window.open('https://www.linkedin.com/company/decento');" title="LinkedIn">
            <img src="/images/SoMe icons/linkedin.png" alt="LinkedIn" class="icon">
        </div>

        <div class="icon-container" onclick="location.href='mailto:info@decento.dk?Subject=Info';" title="Email">
            <img src="/images/SoMe icons/email.png" alt="Email" class="icon">
        </div>
    </div>
</footer>