<div class="bottom-space">
</div>
<footer>
    <p>DECENTO - CVR 35605339 - <a href="https://www.google.dk/maps/place/DECENTO/@56.142295,10.2050673,17z/data=!3m1!4b1!4m5!3m4!1s0x464c3f885d0f2575:0xbefd6cfcadab929c!8m2!3d56.142295!4d10.207256?dcr=0" target="_blank">Aarhus C</a> - <a href="tel:+4528912328" title="Ring op!">+45 2891 2328</a> - <a href="mailto:info@decento.dk?Subject=Info">info@decento.dk</a></p>
    
    <div class="centering">
        <div class="icon-container" onclick="window.open('https://www.facebook.com/decentodk');" title="Facebook">
            <img src="/images/SoMe icons/facebook.png" alt="Facebook" class="icon">
        </div>

        <div class="icon-container" onclick="window.open('https://www.youtube.com/channel/UCn9szQNCUwbYcx_Z12IxIKA');" title="YouTube">
            <img src="/images/SoMe icons/youtube.png" alt="YouTube" class="icon">
        </div>

        <div class="icon-container" onclick="window.open('https://www.instagram.com/decentodk/');" title="Instagram">
            <img src="/images/SoMe icons/instagram.png" alt="Instagram" class="icon">
        </div>

        <div class="icon-container" onclick="window.open('https://www.linkedin.com/company/decento');" title="LinkedIn">
            <img src="/images/SoMe icons/linkedin.png" alt="LinkedIn" class="icon">
        </div>

        <div class="icon-container" onclick="location.href='mailto:info@decento.dk?Subject=Info';" title="Email">
            <img src="/images/SoMe icons/email.png" alt="Email" class="icon">
        </div>
    </div>

    
    <!-- Jquery UI is used for carousel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="/scripts/navposition.js"></script>
    <script src="/scripts/carousel.js"></script>
</footer>