<header>
    <!--Top banner-->
    <div class="responsive-center-div">
        <a href="/"><img class="logo" src="/images/logo.jpg"></a>
    </div>
    <img class="white-banner left" src="/images/white-left.png">
    <img class="white-banner right" src="/images/white-right.png">
    <!--Carousel/Slideshow-->
    <div class="carousel-area">
            <img src="/images/carousel/slide1.jpg" class="banner" id="banner1">
            <img src="/images/carousel/slide2.jpg" class="banner" id="banner2">
            <img src="/images/carousel/slide3.jpg" class="banner" id="banner3">
            <img src="/images/carousel/slide4.jpg" class="banner" id="banner4">
            <img src="/images/carousel/slide5.jpg" class="banner" id="banner5">
            <img src="/images/carousel/slide6.jpg" class="banner" id="banner6">
            <img src="/images/carousel/slide7.jpg" class="banner" id="banner7">
        </div>
    </div>
</header>