<!--Navigation-->
<nav>
  <div id="removeJump">
    <div class="navigation" id="navigation">
      <div class="hidefast">
        <a class="left hidden" id="nav-logo" href="/" tabindex="0"><img class="nav-logo" src="/images/icon.jpg"></a>
      </div>
        <a id="linkId" class="collapsed-navigation-icon left" onclick="ResponsiveFunction()">&#9776;</a>
        <a class="left" href="/nyheder" tabindex="0">Nyheder</a>
        <a class="left" href="/cases" tabindex="0">Cases</a>
        <a class="left" href="/kontakt" tabindex="0">Kontakt</a>

        <%try{ if (user.local.role){ %>
        <a class="left" id="admin" href="/profile" tabindex="0"><%= user.local.username %></a> 
        <a class="right rightend" href="/logout"><img src="/images/SoMe icons/nokey.png" style="height:100%" title="Logout"></a> 
        <%}} catch(err) {%>
          <a class="right rightend" onclick="document.getElementById('modalId').style.display='block'" cursor="pointer" title="Login"><img src="/images/SoMe icons/key.png" style="height:100%"></a> 
        <%}%>
    </div>
  </div>
</nav>

<!-- Modal -->
<div id="modalId" class="modal">
    
  <div class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('modalId').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/images/logo.jpg" alt="Decento" class="avatar">
    </div>

    <div class="container">
      <form action="/login" method="post">
        <label>Brugernavn</label>
          <input type="text" class="form-control" name="username" required>
            
          <label>Password</label>
          <input type="password" class="form-control" name="password" required>

          <button type="submit">Login</button>
      </form>

      <p>Brug for en konto? <a href="/signup">Opret dig</a></p>
    
      <div class="container-bottom">
        <button type="button" onclick="document.getElementById('modalId').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Glemt <a href="#">kodeord?</a></span>
      </div>
    </div>
  </div>
  
</div>



