<nav>
  <div id="removeJump">
    <div class="navigation" id="navigation">
      <div class="hidefast">
        <a class="left hidden" id="nav-logo" href="/" tabindex="0"><img class="nav-logo" src="/images/icon.jpg"></a>
      </div>
      <a id="linkId" class="collapsed-navigation-icon left" onclick="ResponsiveFunction()" style="font-size: 40px;">&#9776;</a>
      <a class="left" href="/" tabindex="0">Nyheder</a>
      <a class="left" href="/cases" tabindex="0">Cases</a>
      <a class="left" href="/kontakt" tabindex="0">Kontakt</a>
      <a class="left leftend" href="/profile" tabindex="0">Upload</a>
      <a class="right rightend" onclick="document.getElementById('modalId').style.display='block'" cursor="pointer">Login</a>
    </div>
  </div>
</nav>

<div id="modalId" class="modal">
    
    <form class="modal-content animate" action="/login" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('modalId').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="/images/logo.jpg" alt="Decento" class="avatar">
      </div>
  
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email" required>
  
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('modalId').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/navposition.js"></script>