<!-- about.ejs -->
<!doctype html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styling.css">
    <script src="/scripts/carousel.js"></script>
</head>

<header>
    <%- include header.ejs %>
</header>

<nav>
    <%- include navigation.ejs %>
</nav>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            <h1>About</h1>
        </div>
    </div>

<footer>
    <%- include footer.ejs %>
</footer>
</body>
</html>