<img class="mini-banner" src="/images/white.png" alt="Decento">
<img class="logo" src="/images/logo.jpg" alt="Decento">
<a href="/"><div class="logo-area"></div></a>
<!--<a href="/"><img class="logo-area" src="/images/logo.jpg" alt="Decento"></a>!-->
<div class="banner"></div>