<header>
    <img class="mini-banner" src="/images/white.png" alt="Decento">
    <a href="/"><img class="logo" src="/images/logo.jpg" alt="Decento"></a>
    <!--<a href="/"><img class="logo-area" src="/images/logo.jpg" alt="Decento"></a>!-->
    <div class="banner"></div>
</header>