<!DOCTYPE html>
<html>
<head>
    <title>Decento</title>
<% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            <p style="text-align:center;">Med 10 års erfaring indenfor foto, grafik og generel kreativ udfoldelse i mange afskygninger, kan DECENTO tilbyde en bred variation af løsninger. <br>
            <br>
            Fra boligfoto til portrætfoto – vi klarer det hele.<br>
            <br>         
            Klik på kategorierne for at se mere, og kontakt os i dag for en uforpligtende snak omkring netop din opgave.
            <br>
            <br>
            &#9660;&#9660;&#9660;</p>
        </div>

        <div class="display">
            <div class="display-item" onclick="location.href='/boligfoto';">
                <h4>Boligfoto</h4>
                <img src="images/samples/boligfoto.jpg">
            </div>

            <div class="display-item" onclick="location.href='/bilfoto';">
                <h4>Bilfoto</h4>
                <img src="images/samples/bilfoto.jpg">
            </div>

            <div class="display-item" onclick="location.href='/produktfoto';">
                <h4>Produktfoto</h4>
                <img src="images/samples/produktfoto.jpg">
            </div>

            <div class="display-item" onclick="location.href='/bryllupsfoto';">
                <h4>Bryllupsfoto</h4>
                <img src="images/samples/bryllupsfoto.jpg">
            </div>
            
            <div class="display-item" onclick="location.href='/portraetfoto';">
                <h4>Portrætfoto</h4>
                <img src="images/samples/portrætfoto.jpg">
            </div>
        </div>

        <div class="content-wrap">
            
<p style="text-align:center;color:rgb(140,0,0);"><b><i>
"Super god service - både før, under og efter!
Meget professionelt samarbejde og hurtig respons og ikke mindst et flot slut-produkt til en meget rimelig pris. Vi er SÅ glade for vores billeder - og vi er sikre på, at Edin's billeder nok skal hjælpe os med at få vores nye og flotte bæredygtige hus solgt hurtigt. Det er bestemt ikke sidste gang vi bruger Edin og DECENTO."
<br>
<br>
- Maria Jakobsen / Jakobsen huse ApS

<br>
<br>
<br>

"Stod for fotografering til vores bryllup. Edin er en rigtig rar fyr som gør sit ypperste for, at man får præcis de billeder man ønsker sig."
<br>
<br>
- Christian Salvesen Gyldenløve
</i></b></p>
<br>
<br>
<br>
<p style="text-align:center;color:rgb(0, 0, 0);"><i>"Hos DECENTO går vi langt for at få det bedste billede. Vi bestræber os intet mindre end på at levere kvalitet i VERDENSKLASSE!"</i></p>
<img src="/images/Edin.png" style="display:block;margin:auto;">
<br>
<p style="text-align:center;">Edin Bošnjak – Indehaver & Cheffotograf</p>

        </div>
    </div>

<!-- FOOTER -->
<% include shared/footer.ejs %>

</body>
</html>