<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>

<header>
    <a href="#!"><div class="banner"><h1>Some sort of portfolio</h1></div></a>
    <!--Navigation bar-->
    <div class="tab">
        <div id="nav-placeholder">
                <%- include navigation.ejs %>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js">
            $(function(){
                $("#nav-placeholder").load("views/navigation.ejs");
                });
        </script>
    </div>
    <!--end of Navigation bar-->
</header>

<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

    <div>
        <p>Helhlehlhle</p>
    </div>

</div>
</body>
</html>