<!DOCTYPE html>
<html>
<head>
    <title>Decento - Kontakt</title>
<%- include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            <h1>Kontakt</h1>

<p>
- Kontakt os gerne med spørgsmål eller til en uforpligtende snak om din opgave<br><br>

DECENTO - <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=35605339&soeg=35605339" target="_blank">CVR 35605339<br></a>
Adresse: <a href="https://www.google.dk/maps/place/DECENTO/@56.142295,10.2050673,17z/data=!3m1!4b1!4m5!3m4!1s0x464c3f885d0f2575:0xbefd6cfcadab929c!8m2!3d56.142295!4d10.207256?dcr=0" target="_blank">Kildegården 1, 8000 Aarhus C</a><br>
Tlf.: <a href="tel:+4528912328" title="Ring op!">+45 2891 2328</a><br>
Mail: <a href="mailto:info@decento.dk?Subject=Info">info@decento.dk</a><br>
Facebook: <a href="http://facebook.com/decentodk" target="_blank">facebook.com/decentodk</a><br>
</p>
<img src="/images/Edin.png">
<br>
<p>Edin Bošnjak – Indehaver & Cheffotograf</p>

        </div>
    </div>

<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>