<!-- about.ejs -->
<!doctype html>
<html>
<head>
    <title>Kontakt</title>
<%- include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
    <div class="whiteout">
        <div class="content-wrap">
            <h1>Kontakt</h1>

            
<p>
Kontakt os for en uforpligtende snak om din opgave på:<br>

Tlf.: +45 2891 2328<br>
Mail: info@decento.dk<br>
Facebook: <a href="http://facebook.com/decentodk" target="_blank">facebook.com/decentodk</a>
</p>

        </div>
    </div>

<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>