<!DOCTYPE html>
<html>
<head>
    <title>Decento - Login</title>
<%- include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>
    
<body>
<div class="whiteout">
    <div class="content-wrap">


        <%try { if (user.local.role){ %>

            <h3>You are already logged in as "<%= user.local.username %>"</h3>
            
            <a href="/logout">Logout</a>

        <%}} catch(err) { %> 
            <h1>Login</h1>
            
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert"><%= message %></div>
                <% } %>
            
                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                        
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" maxlength="6" required>
            
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required>
            
                    <button type="submit">Login</button>
                </form>
            
                <hr>
            
                <p>Brug for en konto? <a href="/signup">Opret dig</a></p>
                <p>Eller gå til <a href="/">startsiden</a>.</p>
        <%}%>
    </div>
</div>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</body>
</html>