<nav>
  <div class="removeJump">
    <div class="navigation" id="navigation">
      <a href="javascript:void(0);" style="font-size:15px;" class="collapsed-navigation-icon left" onclick="ResponsiveFunction()">&#9776;</a></li>
      <a class="left" href="/" tabindex="0">Home</a></li>
      <a class="left" href="/projects" tabindex="0">Projects</a></li>
      <a class="left" href="/profile" tabindex="0">Profile</a></li>
      <a class="left leftend" href="/about" tabindex="0">About</a></li>
      <a class="right rightend" onclick="document.getElementById('id01').style.display='block'" cursor="pointer">Login</a></li>
    </div>
  </div>
</nav>

<div id="id01" class="modal">
    
    <form class="modal-content animate" action="/login" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="/images/logo.jpg" alt="Decento" class="avatar">
      </div>
  
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email" required>
  
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/navposition.js"></script>