<nav>
  <div id="removeJump">
    <div class="navigation" id="navigation">
      <a id="linkId" class="collapsed-navigation-icon left" onclick="ResponsiveFunction()">&#9776;</a>
      <a class="left" href="/" tabindex="0">Nyheder</a>
              <div class="dropdown">
                <a class="dropbtn">Produkter &#9660;</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
      <a class="left" href="/about" tabindex="0">Kontakt</a>
      <a class="left leftend" href="/profile" tabindex="0">Upload</a>
      <a class="right rightend" onclick="document.getElementById('modalId').style.display='block'" cursor="pointer">Login</a>
    </div>
  </div>
</nav>

<div id="modalId" class="modal">
    
    <form class="modal-content animate" action="/login" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('modalId').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="/images/logo.jpg" alt="Decento" class="avatar">
      </div>
  
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email" required>
  
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('modalId').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/navposition.js"></script>