<ul id="menu">
    <li><a href="#!Home" tabindex="0">Home</a></li>
    <li><a href="/test" tabindex="0">Projects</a></li>
    <li><a href="#!About" tabindex="0">About</a></li>
</ul>
<ul id="login-style">
    <li><input id="login-input" type="text" placeholder="Username/Email"></input></li>
    <li><input id="login-input" type="text" placeholder="Password"></input></li>
    <li><button id="login-submit" type="submit">Login</button></li>
</ul>