<!DOCTYPE html>
<html>
<head>
    <title>Decento - Opret bruger</title>
    <% include shared/head.ejs %>
</head>

<!-- HEADER -->
<% include shared/header.ejs %>

<!-- NAVIGATION -->
<% include shared/navigation.ejs %>

<body>
<div class="content-wrap">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Opret dig som bruger</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="POST">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" maxlength="6" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="form-group">
            <label>Type</label><br>
            <select name="role" style="width:100%;padding: 13px 13px 13px 13px;" required>
                <option value="Bruger">Bruger</option>
                <option value="Firma">Firma</option>
            </select> 
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Opret bruger</button>
    </form>

    <hr>

    <p>Har du allerede en konto? <a href="/login">Login</a></p>
    <p>Eller gå til <a href="/">startsiden</a>.</p>

</div>

</div>
</body>
<!-- FOOTER -->
<%- include shared/footer.ejs %>
</html>