body {
    margin:100px 0px 0px 0px;
}

footer {
    margin: auto;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 35px;
    bottom: 0px;
    background-color: rgb(190, 0, 0);
    box-shadow: 0px -4px 4px rgb(0, 0, 0, .5);
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

.whiteout {
    width:100%;
    background-color: rgb(255, 255, 255);
}

.content-wrap
{
    margin-left:30%;
    margin-right: 30%;
    min-width: 600px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    BANNER
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.logo-area {
    z-index: -1;
    position: fixed;
    top: 22px;
    left: 30px;
    width: 335px;
    height: 60px;

    /*UNCOMMENT TO SEE AREA
    background-color: rgb(140, 0, 0);
    opacity: 0.5;
    */
}

.mini-banner {
    float: left;
    height: 100px;
    width: auto;
    z-index: -2;
    top: 0px;
    position: fixed;
    overflow: hidden;
}
.banner {
    z-index: -3;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
    margin: auto;
    overflow: hidden;
    /*background: url("/images/logo.jpg"); */
    background: url("/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(158, 0, 0);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, .5);
}

.nav-scrolled {
    position: fixed;
    top: 0px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, .5);
}

.menu-wrapper {
    height: 29px;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(126, 126, 126);
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

li a {
    background-color: rgb(190, 0, 0);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 100px 5px 100px;
    text-decoration: none;
    transition: 0.2s;
    border: 0px solid rgb(0,0,0);
}

li.left a:focus {
    color: rgb(255,255,255);
    outline: none;
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-left: 3px solid rgb(0, 0, 0)
}
li.right a:focus {
    color: rgb(255,255,255);
    outline: none;
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-left: 3px solid rgb(0, 0, 0)
}

li.left{
    float: left;
    border-left: 1px solid rgb(0, 0, 0);
}

li.right{
    float: right;
    border-right: 1px solid rgb(0, 0, 0);
}

li.leftend a {
    border-right: 1px solid rgb(0, 0, 0);
}

li.rightend a {
    border-left: 1px solid rgb(0, 0, 0);
}

li.left a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
}
li.right a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-right: 3px solid rgb(0, 0, 0)
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    LOGIN-WINDOW
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(190, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(140, 0, 0);
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(190, 0, 0);
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    overflow: hidden;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(190, 0, 0);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    CAROUSEL
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.mySlides {
    display: none;
    width: 100%;
}

.carousel-container {
    width: 100%;
    background-color: rgb(190, 0, 0);
}

.carousel-controls {

}

.roundButton {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.roundButton:hover {
    background-color: rgb(190, 0, 0);
}

.roundButtonActive {
    background-color: rgb(190, 0, 0);
}