a {
    text-decoration: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h4 {
    margin: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    margin:150px 0px 0px 0px;
}

footer {
    margin: auto;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 35px;
    bottom: 0px;
    background-color: rgb(90, 90, 90);
    -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, .5);   /* for Chrome (X-pos, Y-pos, blur)*/ 
    box-shadow: 0px -2px 3px rgba(0, 0, 0, .5);
}

footer p {
    margin-top: 6px;
    text-align: center;
}

.whiteout {
    width:100%;
    background-color: rgb(255, 255, 255);
}

.content-wrap
{
    padding: 20px 20px 20px 20px;
    margin: auto;
    max-width: 1200px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    BANNER
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.logo {
    position: fixed;
    top: 35px;
    left: 40px;
    height: 80px;
    z-index: -1;
}

.mini-banner {
    float: left;
    height: 150px;
    z-index: -2;
    top: 0px;
    position: fixed;
    overflow: hidden;
}

.banner {
    z-index: -3;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 150px;
    margin: auto;
    overflow: hidden;
    /*background: url("/images/logo.jpg"); */
    background: url("/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1150px) {
    .banner {
        background: rgb(255, 255, 255);
    }
    
    .mini-banner {
        visibility: hidden;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

nav {
    position: relative;
}

.nav-scrolled {
    position: fixed;
    overflow: hidden;
    top: 0px;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);   /* for Chrome (X-pos, Y-pos, blur)*/ 
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

#removeJump {
    height: 40px;
}

.navigation {
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    background-color: rgb(40, 40, 40);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);   /* for Chrome (X-pos, Y-pos, blur)*/ 
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

.navigation .collapsed-navigation-icon {
    display: none;
}

.navigation a {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    display: block;
    height: 28px;
    color: rgb(255, 255, 255);
    padding: 6px 70px 6px 70px;
    text-decoration: none;
    transition: 0.3s;
    border: 0px solid rgb(0,0,0);
}


/*
a.left:focus {
    color: rgb(255,255,255);
    outline: none;
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-left: 3px solid rgb(0, 0, 0)
}

a.right:focus {
    color: rgb(255,255,255);
    outline: none;
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-left: 3px solid rgb(0, 0, 0)
}
*/

a.left{
    float: left;
    /* border-left: 1px solid rgb(0, 0, 0); */
}

a.right{
    float: right;
    /* border-right: 1px solid rgb(0, 0, 0); */
}

a.leftend {
    /* border-right: 1px solid rgb(0, 0, 0); */
}

a.rightend {
    /* border-right: 1px solid rgb(0, 0, 0); */
}

a.left:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(65, 65, 65);
    border-left: 3px solid rgb(0, 0, 0);
}

a.right:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(65, 65, 65);
    border-right: 3px solid rgb(0, 0, 0)
}

@media screen and (max-width: 1150px) {
    .navigation a {
        display: none;
    }

    .navigation a.collapsed-navigation-icon {
      width: 100%;
      float: left;
      display: block;
      text-align: left;
    }
}
  
@media screen and (max-width: 1150px) {
    .navigation.responsive {
    }

    .navigation.responsive .collapsed-navigation-icon {
    }

    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    LOGIN-WINDOW
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(190, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(140, 0, 0);
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(190, 0, 0);
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    overflow: hidden;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(190, 0, 0);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    DISPLAY
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.display {
    height: 200px;
    width: 100%;
    background: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.display-item {
    align-self: center;
    background: rgb(190, 0, 0);
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.3s;
}

.display-item:hover {
    min-width: 350px;
    max-width: 450px;
    width: 22%;
}

.display-item img{
    width: 100%;
    margin-bottom: -5px;
}

@media screen and (max-width: 1350px) {
    
    .display {
        display: block;
        justify-content: center;
        height: auto;
    }

    .display-item {
        max-width: 1350px;
        width: 75%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .display-item:hover {
        max-width: 1350px;
        width: 90%;
    }
}
