a {
    font-family: 'Segoe UI', Optima, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 45px;
}

h2 {
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 35px;
}

h3 {
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 25px;
}

h4 {
    letter-spacing: 4px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    font-family: 'Segoe UI', Optima, sans-serif;
    color: rgb(255, 255, 255);
}

p {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 18px;
}

body {
    margin:225px 0px 0px 0px;
}

footer {
    margin: auto;
    padding: 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    background-color: rgb(90, 90, 90);
    -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, .5);   /* for Chrome (X-pos, Y-pos, blur)*/ 
    box-shadow: 0px -2px 3px rgba(0, 0, 0, .5);
}

footer p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

footer a:hover {
    color: rgb(140, 0, 0);
}

.centering {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .icon-container {
    cursor:pointer;
    padding: 0px 10px 0px 10px;
    align-self: center;
    width: 25px;
}

footer .icon-container:hover {
    width: 30px;
}

footer .icon {
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.whiteout {
    overflow: hidden;
    width:100%;
    background-color: rgb(255, 255, 255);
}

.content-wrap
{
    padding: 20px 20px 20px 20px;
    margin: auto;
    max-width: 1200px;
}

.bottom-space{
    width: 100%;
    height: 150px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    BANNER
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.logo {
    position: fixed;
    left: 65px;
    max-height:100px;
    max-width: 100%;
    z-index: -2;
}

.responsive-center-div {
    position: fixed;
    top: 65px;
    width:100%;
    z-index: -1;
}

.white-banner {
    height: 225px;
    z-index: -3;
    top: 0px;
    position: fixed;
}

.white-banner.right {
    right: 0px;
}

.white-banner.left {
    left: 0px;
}

@media screen and (max-height: 600px) {
    footer {
        position: relative;
    }
}

@media screen and (max-width: 950px) {    
    .banner {
        background: rgb(255, 255, 255);
    }
    
    .white-banner {
        display: none;
    }

    .logo{
    left: 0px;
    display:block;
    position: relative;
    margin: auto;
    z-index: -2;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    CAROUSEL
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.carousel-area {
    z-index: -5;
    top:0px;
    left: 550px;
    right: 50px;
    min-width:855px;
    position: fixed;
    height: 225px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.banner {
    align-self: center;
    width: 100%;
    position:absolute;
    z-index: -4;
}

#banner1 {
}

#banner2 {
    display: none;
}

#banner3 {
    display: none;
}

#banner4 {
    display: none;
}

#banner5 {
    display: none;
}

#banner6 {
    display: none;
}

#banner7 {
    display: none;
}

@media screen and (max-width: 950px) {
    .carousel-area {
        display: none;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

nav {
    position: relative;
}

.nav-scrolled {
    position: fixed;
    overflow: hidden;
    top: 0px;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);   /* for Chrome (X-pos, Y-pos, blur)*/ 
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

#removeJump {
    height: 40px;
}

.navigation {
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    background-color: rgb(40, 40, 40);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);   /* for Chrome (X-pos, Y-pos, blur)*/ 
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

.navigation .collapsed-navigation-icon {
    display: none;
}

.navigation a {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
    font-family: 'Segoe UI', Optima, sans-serif;
    text-align: center;
    font-size: 22px;
    display: block;
    height: 28px;
    color: rgb(255, 255, 255);
    padding: 5px 65px 7px 65px;
    text-decoration: none;
    transition: 0.3s;
}

#admin {
    background: rgb(255, 125, 0);
}

#admin:hover {
    background: rgb(150, 72, 0);
}

a.left {
    float: left;
    border-left: 1px solid rgb(40, 40, 40);
}

a.left.hidden {
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    width: 0px;
    height:40px;
    background: rgb(255, 255, 255);
    transition: 0.3s;
    display: block;
    border-left: 1px solid rgb(0, 0, 0);
}

a.left.scrolled {
    width: 40px;
    border-left: 1px solid rgb(0, 0, 0);
}

.nav-logo {
    height: 40px;
}

a.right {
    float: right;
    border-right: 1px solid rgb(40, 40, 40);
    padding-left: 15px;
    padding-right: 15px;
}

/*
a.leftend {
    border-right: 1px solid rgb(40, 40, 40);
}

a.rightend {
    border-right: 1px solid rgb(40, 40, 40);
}*/

a.left:hover {
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-left: 5px solid rgb(40, 40, 40);
}

a.right:hover {
    text-decoration: none;
    background-color: rgb(140, 0, 0);
    border-right: 5px solid rgb(40, 40, 40);
}

@media screen and (max-width: 950px) {

    a.right {
        padding-left: 65px;
        border-right: 0px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    a.left {
        border-left: 0px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    a.right:hover {
        text-decoration: none;
        background-color: rgb(140, 0, 0);
        border-right: 0px solid rgb(40, 40, 40);
        border-left: 5px solid rgb(40, 40, 40)
    }

    .navigation a {
        display: none;
    }

    .navigation a.collapsed-navigation-icon {
      width: 100%;
      float: none;
      display: block;
      text-align: left;
    }

    .hidefast {
        display: none;
    }

    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    FORM / MODAL LOGIN-WINDOW
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Full-width input fields */
input[type=text], input[type=password] {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 18px;
    background-color: rgb(190, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(140, 0, 0);
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(190, 0, 0);
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    overflow: hidden;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(190, 0, 0);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

label {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 18px;
}

textarea {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 14px;
    resize: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

span {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 18px;
}

.alert {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Optima, sans-serif;
    font-size: 18px;
    color: rgb(190, 0, 0)
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    PRODUCT DISPLAY
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.display {
    margin-top: -35px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.display-item {
    cursor:pointer;
    align-self: center;
    background: rgb(140, 0, 0);
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.3s;
}

.display-item:hover {
    min-width: 350px;
    max-width: 450px;
    width: 22%;
}

.display-item img{
    width: 100%;
    margin-bottom: -5px;
}

@media screen and (max-width: 1350px) {
    
    .display {
        display: block;
        justify-content: center;
        height: auto;
    }

    .display-item {
        max-width: 1350px;
        width: 75%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .display-item:hover {
        max-width: 1350px;
        width: 90%;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    NEWS
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.news-container {
    width: 100%;
    background: rgb(209, 209, 209);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.pre-line {
    white-space: pre-line;
}

.news-container p {
    padding: 5px 10px 0px 30px; 
    margin: 0px;
}
.news-container a {
    padding: 0px 10px 0px 30px;
}

.headline-wrap {
    padding: 20px 0px 35px 0px;
    width: 100%;
    background: rgb(140, 0, 0);
    margin-bottom: 20px;
}

.headline-wrap h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 30px; 
}
.headline-wrap p {
    margin: 0px 0px -10px 0px;
}


