/*/////////////////////////////////////////////////////
//
//    BANNER
//
/////////////////////////////////////////////////////*/

.banner {
    max-width: 1000px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    background: url("/images/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}